<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{ site.title }}</title>
    <link rel="shortcut icon" type="image/png" href="icons/app_16.png">
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo title=false %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <div>
        <h1 class="project-name ib"><img class="scale" src="icons/app_256.png"></h1>
        <h1 class="project-name ib"><span>&emsp;{{ site.title }}&emsp;</span></h1>
        <h1 class="project-name ib"><img class="scale" src="icons/transparent_256.png"></h1>
      </div>
      {% for release in site.releases %}
      <a class="tooltip" href="{{ release.url }}" class="btn"><span class="tooltiptext">Tooltip text</span><img class="scale" src="icons/{{ release.icon }}.png">&ensp;{{ release.title }}</a>
      {% endfor %}
      <a href="{{ site.repository_url }}" class="btn"><img class="scale" src="icons/GitHub-Mark-32px.png">&ensp;View on GitHub</a>
      <a href="https://torrent-file-editor.github.io/#buy-a-beer-to-developer-" class="btn"><img class="scale" src="icons/beer.png">&ensp;Donate</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
      </footer>
    </main>
  </body>
</html>
